.badge {
  background-color: var(--color-black-08);
  padding: 6px 10px;
  @include fluid-text(14, 12);
  font-weight: 500;
  line-height: 1;
  color: var(--color-gray-60);
  white-space: nowrap;
  border: var(--border);
  border-radius: 50px;

  @include mobile {
    padding-inline: 8px;
  }

  &--accent{
    background-color: var(--color-red-45);
    color: var(--color-white);
    border: none;
    border-radius: var(--border-radius-xs);

    @include laptop{
      border-radius: var(--border-radius-xxs);
    }
  }

  &--big{
    padding: fluid-to-laptop(10, 8);
    font-size: fluid-to-laptop(16, 12);
    font-weight: 600;
  }

}