.tabs-navigation {
  --tabsNavigationPadding: #{fluid-to-laptop(10, 8)};
  --tabsActiveButtonWidth: 0;
  --tabsActiveButtonOffsetLeft: 0;
  position: relative;
  display: var(--tabsNavigationDisplay, flex);
  padding: var(--tabsNavigationPadding);
  border: var(--border);
  border-radius: var(--border-radius-m);

  @include laptop {
    border-radius: var(--border-radius-s);
  }

  &::before {
    content: '';
    position: absolute;
    top: var(--tabsNavigationPadding);
    left: 0;
    width: var(--tabsActiveButtonWidth);
    height: calc(100% - var(--tabsNavigationPadding) * 2);
    background-color: var(--color-black-12);
    border-radius: var(--border-radius-s);
    transition-duration: var(--transition-duration);
    //transform-: ;
    translate: var(--tabsActiveButtonOffsetLeft);

    @include laptop {
      border-radius: var(--border-radius-xs);
    }
  }

  &__button{
    position: relative;
    padding: fluid-to-laptop(14, 12) fluid-to-laptop(24, 20);
    border-radius: var(--border-radius-s);
    transition-duration: var(--transition-duration);
    cursor: pointer;
    user-select: none;

    @include hover{
      color: var(--color-white);
    }

    &.is-active {
      color: var(--color-white);
      pointer-events: none;

    }

    @include laptop {
      border-radius: var(--border-radius-xs);
    }
  }
}