.accordion-group {

  &--2-columns{

    column-gap: fluid-to-laptop(80, 40);

    @include tablet-above{
      column-count: 2;
    }
  }


  &--has-counter {
    counter-reset: custom-counter;
    list-style: none;

    .accordion-group__item {
      display: flex;
      column-gap: fluid-to-laptop(20, 16);
      counter-increment: custom-counter;

      &::before{
        @include flex-center;

        content: counter(custom-counter, decimal-leading-zero);
        font-size: fluid-to-laptop(20, 16);
        font-weight: 600;
        color: var(--color-white);
        min-width: fluid(62, 42);
        height: fluid-to-laptop(67, 46);
        background-color: var(--color-black-12);
        border: var(--border);
        border-radius: var(--border-radius-m);
        @include laptop{
          border-radius: var(--border-radius-s);
        }
        @include mobile{
          border-radius: var(--border-radius-xs);
        }

      }
    }

  }

  &__item{
    padding: fluid-to-laptop(34, 24);
    break-inside: avoid-column;

   @include tablet-above{
     &--last-column-item{
       &::after{
         display: none;
       }
     }
   }

    @include tablet{
      --accordiorGroupItemPaddingY: 40px;
      --accordiorGroupItemHalfPaddingY: calc(var(--accordiorGroupItemPaddingY) / 2);
      padding: var(--accordiorGroupItemHalfPaddingY) 0;
      &:first-child {
        padding-top: var(--accordiorGroupHalfItemPaddingY);
      }

      &:last-child {
        padding-bottom: var(--accordiorGroupHalfItemPaddingY);
      }
    }

    &:not(:last-child){
      position: relative;
      &::after{
        position: absolute;
        content: "";
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-image: linear-gradient(90deg, rgba(229, 0, 0, 0.00) 0%, var(--color-red-45) 16.67%, rgba(229, 0, 0, 0.00) 100%);

      }
    }

  }
}