.collections {
  --collectionsGroupPadding: #{fluid-to-laptop(50, 40)};

  display: flex;
  flex-direction: column;
  row-gap: 50px;

  padding-block: var(--section-padding-y);


  &.tabs {
    --tabsBodyRowGap: #{fluid-to-laptop(170, 138)};
  }

  &__group{
    @include mobile-above{
      position: relative;
      padding: var(--collectionsGroupPadding);
      border: var(--border);
      border-radius: var(--border-radius-l);

    }
  }

  &__title {
    position: absolute;
    left: var(--collectionsGroupPadding);
    top: 0;
    translate: 0 -50%;
    padding: fluid-to-laptop(10, 8) fluid-to-laptop(24, 20);
    color: var(--color-white);
    font-size: fluid-to-laptop(20, 16);
    font-weight: 600;
    border-radius: var(--border-radius-xs);
    background-color: var(--color-red-45);

    @include laptop{
      border-radius: var();
    }
  }

  &__section {
    &.section {
      padding-top: 0px;
    }
  }
}