.header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
  padding-block: fluid(22, 14);

  animation-name: scrolling-header;
  animation-fill-mode: both;
  animation-timeline: scroll();
  animation-range: 0 100px;

  border-bottom: var(--border-width-s) solid transparent;



  @keyframes scrolling-header {
    to {
      background-color: var(--color-black-08);
      border-color: var(--color-black-15);
    }
  }

  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 16px;

  }

  &__overlay-menu-dialog{

    flex-direction: column-reverse;
    justify-content: start;
    align-items: center;
    row-gap: 16px;

    //padding: var(--container-padding-x);
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-black-15) ;
    border: none;
    padding: 20px;

    transition-duration: var(--transition-duration-longer);
    transition-behavior: allow-discrete;

    @include mobile-above{
      display: contents;
    }

    @mixin starting-styles {
      opacity: 0;
      translate: 100%;
    }

    &[open]{
      display: flex;
      @starting-style {
        @include starting-styles;
      }
    }

    &:not([open]){
      @include starting-styles;
    }

  }

  &.is-fixed{
    position: fixed;
  }

  &__menu {

    border-radius: var(--border-radius-l);
    @include laptop {
      border-radius: var(--border-radius-m);
    }

    @include mobile-above {
      padding: fluid-to-laptop(10, 8);
      background-color: var(--color-black-06);
      outline: var(--border-width-l) solid var(--color-black-12);

    }

    @include mobile{
      border-radius: 0;
      display: flex;
      //flex-direction: column;
      justify-content: center;
      height: 100%;
      overflow: auto;
    }

    &-list{
      display: flex;
      align-items: center;
      column-gap: 6px;

      @include mobile{

        flex-direction: column;
        justify-content: center;
        row-gap: 16px;
        margin-block: auto;
      }

    }
  &-link{
    padding: fluid-to-laptop(14, 12) fluid-to-laptop(24, 20);
    color: var(--color-gray-75);
    border-radius: var(--border-radius-s);
    text-align: center;
    text-wrap: nowrap;

    @include hover{
      color: var(--color-white);
      background-color: var(--color-red-45);
    }

    @include mobile{
      font-size: 24px;
      padding: 24px 40px;

    }

    &.is-active{
      font-weight: 500;
      color: var(--color-white);
      background-color: var(--color-black-10);
      pointer-events: none;
    }
  }

  }

  &__actions{
    display: flex;
    align-items: center;
    column-gap: fluid-to-laptop(10, 6);
  }


  &__burger-button {
    position: relative;
  }
}